# Python
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Credentials
*.pem
ibm_quantum_credentials.json
.env
config.json
